<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>じゃんけん</title>
</head>

<body>
  <a href="/logout">ログアウト</a>
  <h1>Match</h1>
  <h2>[[${player}]] V.S. [[${opponent}]]</h2>
  <p>
    <a th:href="@{/fight(id=${opponentId},hand=Gu)}">グー</a>
    <a th:href="@{/fight(id=${opponentId},hand=Choki)}">チョキ</a>
    <a th:href="@{/fight(id=${opponentId},hand=Pa)}">パー</a>
  </p>
  <div th:if="${result}">
    [[${player}]]の手 [[${playerHand}]]<br />
    [[${opponent}]]の手 [[${cpuHand}]]<br />
    結果 [[${result}]]
  </div>
  <a href="/janken">もどる</a>
</body>

</html>
