<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>じゃんけん</title>
  <script>
    window.onload = function () {
      var sse = new EventSource('/result');
      sse.onmessage = function (event) {
        console.log("sse.onmessage")
        console.log(event.data);
        var div = document.getElementById('result');

        var kekka = "<h2>結果</h2><p>" + event.data + "</p><a href='/janken'>もどる</a>";
        div.innerHTML = kekka;
      };
    }
  </script>
</head>

<body>
  <a href="/logout">ログアウト</a>
  <h1>相手の手を待ってます</h1>
  <p>Hi, <span sec:authentication="name"></span></p>
  <div id="result">
    <div th:if="${result}">
      <h2>結果mock</h2>
      <p>mock</p>
      <a href="/janken">もどるmock</a>
    </div>
  </div>
</body>

</html>
